/*------------------------------------Admin CARD-----------------------------------*/

.admin-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    transition: transform 0.2s ease;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    min-height: 400px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.admin-card:hover {
    transform: scale(1.02);
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.admin-card span {
    display: block;
    font-size: 1.1rem;
     min-height: 3.2em; /* Altura para hasta 2 líneas */
    color: #555;
}

.admin-card .precio {
    margin-top: auto;

}

.admin-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editButton,
.deleteButton {
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #FF0B55;
}


.editButton:hover {
    background-color: #00a69b;
}

.deleteButton:hover {
    background-color: #ff0404;
}