
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-buscar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out;
}

.form-buscar input:focus {
    border-color: #3498db;
    outline: none;
}

.form-buscar button[type="submit"] {
    background-color: #960886;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-buscar button[type="submit"]:hover {
    background-color: #730666;
}
