
/*------------------------------- Product CARD --------------------------------------------*/

.product-card {
    background-color: #fff0f5;
    border: 2px solid #ffb6c1;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0px 2px 8px rgba(255, 105, 180, 0.2);
    transition: transform 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1%;
    width: 15%;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 8px;
}


.product-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.product-content span {
    margin: 5px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    margin-top: auto;
}

.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    width: 100%;
    gap: 8px;
}

.addCart,
.details {
    background-color: #ec407a;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    font-size: small;
    text-align: center;
    text-decoration: none;
}

.addCart:hover,
.details:hover {
    background-color: #08c24d;
    text-decoration: none;
}

.select-cantidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}


.select-cantidad .boton-activo {
    background-color: #6f4c42;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px 10px;
}

.select-cantidad .boton-desactivado {
    background-color: #ccc;
    color: gray;
    cursor: not-allowed;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px 10px;
}


.boton-activo:hover {
    background-color: #5d3e36;
}
