@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


.listaTarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjeta {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    background-color: #D0B8A8;
    /* transition: transform 1s ease, filter 1s ease;
    object-fit: cover; */

}

.tarjeta span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 5px;
}

.tarjeta img {
    border-radius: 8px;
    width: 150px;
    height: 130px;

}
button {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 400;
    background-color: #DFD3C3;
    cursor: pointer;
    transition: transform 0.5s ease, filter 0.5s ease;
    margin-top: auto;
}

button:hover {
    border-color: #BF9264;
    transform: scale(1.1);

}


/* 
.tarjeta:hover {
    transform: scale(1.3);
    margin: 5%;
    filter: brightness(1.05);

} */